<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Get Form</h2>
    <form action="/getsearch" method="GET">
        <input type="email" name="mail" placeholder="<> email <>">
        <input type="submit" value="Submit">
    </form>

    <h2>Post Form</h2>
    <form action="/postsearch" method="POST">
        <input type="email" name="mail" placeholder="<> email <>">
        <input type="submit" value="Submit">
    </form>
</body>
</html>